body {
  color: #6528F7;
}

.container {
  text-align: center;
  margin-top: 100px;
}

.title {
  margin: 100px 0;
  text-decoration: underline;
}

.instructions {
  margin: 100px 0;
}

span {
  background-color: #EDE4FF;
}

img {
  width: 40%;
  margin-top: 30px;
}

footer {
  text-align: center;
  margin-top: 60px;
  color: #A076F9;
}