<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Names with Flask</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <h1>Here's your result:</h1>
    <h2>Hey {{ name.title() }}!</h2>
    <h2>There's a high probability you're {{ gender }}.</h2>
    <h2>Your name was popular in the USA around {{ years_ago }} years ago.</h2>
  </body>
</html>